body{
  background: linear-gradient(#AF67E9, #6565E7 );
  font-family: 'Kumbh Sans', sans-serif;
  text-align: left;
}

h1{
  font-weight: 700;
  padding-bottom: 50px;
}

h3{
  font-weight: bold;
  line-height: 3;
  font-size: 1rem;
  width: 350px;
}

a{
  color: #000;
}

a:hover{
  color: #F47C57;
  text-decoration: none;
}

p{
  color: #787887;
  display: none;
}

hr{
  color: #E7E7E9;
}


.arrow{
  color: #F47C57;
  padding-left: 10%;
  text-align: right;
}

.card{
  width: 1440px;
  height: 800px;
  background-color: #fff;
  margin: 10% 15%;
  border-radius: 3%;
  align-content: center;
  overflow: hidden;
  position: relative;
}

.imgs{
  margin-right: 50px;
}

.bg-desktop-img{
  width: 250%;
  height: auto;
  position: absolute;
  right: 20%;
  bottom: -250px;
}

.woman-desktop-img{
  width: 150%;
  height: auto;
  position: absolute;
  right: 20%;
  top: 50px;
}

.box-desktop-img{
  width: 60%;
  height: auto;
  position: absolute;
  right: 104%;
  top: 250px;
  z-index: 0;
}

.faq-section{
  padding: 15% 0;
}


.show{
  display: block;
}
